name: Publish to JSR

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # The OIDC ID token is required for provenance

    steps:
      - uses: actions/checkout@v4
      - name: Publish to JSR
        run: npx jsr publish
